APP_NAME="Online quiz"
​
CLIENT_PROTOCOL=http://
API_PROTOCOL=http://
​
# Server conf
APP_NODE_SERVER=localhost
APP_NODE_PORT=3005
APP_NODE_IP=127.0.0.1
APP_NODE_SOCKET_PORT=8080
​
# Client conf
APP_CLIENT_ORIGIN=localhost
APP_CLIENT_PORT=8080
API_ENDPOINT=localhost
API_PORT=3005

# MongoDB conf
MONGO_PORT=27017
MONGO_IP=localhost
MONGO_NAME=online_quiz