
<section class="addquestion">
  <h1>Aggiungi una domanda</h1>
  <div class="container-fluid">
    <form>
      <div class="row">
        <input type="text" required placeholder="Inserisci la domanda">
      </div>
      <div class="row">
        <div class="col-6">
          <input type="text" required placeholder="Inserisci la prima risposta">
        </div>
        <div class="col-6">
          <input type="text" required placeholder="Inserisci la seconda risposta">
        </div>
      </div>
      <div class="row">
        <input type="text" required placeholder="Inserisci la descrizione">
      </div>
      <div class="row">
        <div class="col-6">
          <input type="text" required placeholder="Inserisci la risposta giusta">
        </div>
        <div class="col-6">
          <input type="file" required placeholder="Inserisci l'immagine associata">
        </div>
      </div>
      <div class="row">
        <button class="btn btn-primary">Inserisci</button>
      </div>
    </form>
  </div>
</section>

