.addquestion {
    .container {
        .newquestion{
            display: flex;
            flex-direction: column;
            align-content: center;
            align-items: center;

            input {
                margin: 7px;
            }
        }
    }
}