@import '../../styles/_variables';
@import '../../styles/_colors';

.gamecontainer {

    height: 100%;

    .ingame {

        height: inherit;

        form {

            margin-bottom: 1em;

            div.send {
                margin-top: 1em;
            }

            button {
                width: $width-button;
            }

            label {

                &.btn-light {
                    border-color: $primary-black;
                }

                input[type="radio"] {
                    display: none;
                }
                width: $width-button;
            }
        }

        .nextquestion {
            margin-bottom: 2em;
        }
    }
}
