$width-button: 8em;

.gamecontainer {

    .container-fluid {

        form {

            button {
                width: $width-button;
            }

            label {

                &.btn-light {
                    border-color: black;
                }

                input[type="radio"] {
                    display: none;
                }
                width: $width-button;
            }
        }
    }
}