<section class="gamecontainer">
  <div class="container-fluid">
    <h1>gamecontainer Component</h1>
    <form @submit.prevent="postQuestion">
      <p><img v-bind:src="question.imageUrl" alt=""></p>
      <p>{{ question.question }}</p>
      <div class="row">
        <div class="btn-group btn-group-toggle row" data-toggle="buttons">
          <div class="col-6" v-for="item in question.answers">
            <label class="btn btn-secondary">
              <input type="radio" name="options" v-bind:id="item.index" autocomplete="off" v-model="answer" v-bind:value="item.value">
              {{ item.value }}
            </label>
          </div> 
        </div>
      </div>
      <button type="submit" class="btn btn-primary">invia</button>
    </form>
  </div>
</section>