<section class="gamecontainer">
  <div class="container-fluid game">
    <div v-if="newQuestionAvaiable" class="ingame">
      <h1>{{ question.question }}</h1>
      <img v-bind:src="question.imagePath" alt="gameImg" class="gameimg">
      <form @submit.prevent="postQuestion">
        <div class="btn-group btn-group-toggle row">
          <div class="col-6" v-for="item in answers" :key="item.id">
            <label class="btn" v-bind:class="[classAnswer, (answer === item.value) ? 'btn-primary' : 'btn-light']">
              <input type="radio" :disabled="dataReturned !== ''" name="options" v-bind:id="item.index"
                autocomplete="off" v-model="answer" v-bind:value="item.value">
              {{ item.value }}
            </label>
          </div>
        </div>
        <div class="send">
          <button type="submit" :hidden="dataReturned !== ''" class="btn btn-primary">Invia</button>
        </div>
      </form>
      <div class="nextquestion" v-if="dataReturned !== ''">
        <h1>Maggiori informazioni</h1>
        <p>{{ dataReturned.description }}</p>
        <button v-on:click="getQuestion" class="btn btn-primary">Prossima domanda</button>
      </div>
    </div>
  </div>
  <div v-if="!newQuestionAvaiable" class="nogame">
    <h1>Hai completato tutte le domande!</h1>
    <div>
      <p>
        Hai risposto correttamente a {{ lengthcorrect }} {{ lengthcorrect === 1 ? 'domanda' : 'domande'}} su {{ lengthtotal }}.
      </p>
      <p v-for="(answer, index) in answered">
        Domanda {{ index }}: {{ answer.isCorrect ? 'Risposta giusta' : 'Risposta sbagliata'}}
      </p>
      <div>
        <button v-on:click="playAgain" class="btn btn-primary">Riprova</button>
      </div>
    </div>
  </div>
</section>